main{
    padding-top: 86px;
}
.logo {
    margin: 0;
    padding: 0;
    height: 70px;
    
}
.c-item{
    height: 560px;

}
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
.c-cap{
    position: absolute;
    top: 50%;
    text-align: center;
    font-size: 18px;
  }
.card-item{
    height: 403.8px;
}
.card-img{
    height: 235.8px;
    object-fit: cover;
}

.b-item{
    height: 100px;

}
.b-object{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    display: none;
  }
  
  .dropdown-submenu:hover > .dropdown-menu,
  .dropdown-submenu:focus-within > .dropdown-menu {
    display: block;
  }
.navbar .dropdown-toggle::after{
    display: none;
}
label {
    font-weight: bold;
}
body {
    background-image: url("css/ps.jpg");
}
.form-container {
    max-width: 800px; /* Set a maximum width for the form */
    margin: auto; /* Center the form horizontally */
    background-color: white;
    padding: 20px; /* Add some padding */
    border-radius: 10px; /* Optional: add rounded corners */
}
